.wx-years.wx-1XEF33 {
  display: flex;
  flex-wrap: wrap;
  margin: var(--wx-calendar-gap);
}

.wx-year.wx-1XEF33 {
  flex: 0 0 calc(100% / 4 - var(--wx-calendar-gap) * 2);
  max-width: calc(100% / 4 - var(--wx-calendar-gap) * 2);
  margin: calc(var(--wx-calendar-gap) * 2) var(--wx-calendar-gap);
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  height: var(--wx-calendar-cell-size);
  border-radius: var(--wx-calendar-border-radius);
}
.wx-year.wx-current.wx-1XEF33 {
  background: var(--wx-color-primary);
  color: var(--wx-color-primary-font);
}
.wx-year:not(.wx-current):hover.wx-1XEF33 {
  background-color: var(--wx-background-hover);
}
.wx-prev-decade.wx-1XEF33,
.wx-next-decade.wx-1XEF33 {
  color: var(--wx-color-font-disabled);
}
.wx-buttons.wx-1XEF33 {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin-top: var(--wx-calendar-gap);
}
