.wx-checkbox.wx-2IvefP {
  position: relative;
  display: inline-block;
  vertical-align: top;
  max-width: var(--wx-input-width);
}
.wx-check.wx-2IvefP {
  appearance: none;
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
}
.wx-label.wx-2IvefP {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  font-family: var(--wx-checkbox-font-family);
  font-size: var(--wx-checkbox-font-size);
  line-height: var(--wx-checkbox-line-height);
  font-weight: var(--wx-checkbox-font-weight);
  color: var(--wx-checkbox-font-color);
  cursor: pointer;
}
.wx-before.wx-2IvefP,
.wx-after.wx-2IvefP {
  display: block;
}
.wx-after.wx-2IvefP {
  margin-left: 8px;
  padding-top: calc(
    (var(--wx-checkbox-height) - var(--wx-checkbox-line-height)) / 2
  );
  padding-bottom: calc(
    (var(--wx-checkbox-height) - var(--wx-checkbox-line-height)) / 2
  );
}
.wx-before.wx-2IvefP {
  position: relative;
  flex-shrink: 0;
  padding-top: calc((var(--wx-checkbox-height) - var(--wx-checkbox-size)) / 2);
  padding-bottom: calc(
    (var(--wx-checkbox-height) - var(--wx-checkbox-size)) / 2
  );
}
.wx-before.wx-2IvefP:before {
  content: '';
  display: block;
  width: var(--wx-checkbox-size);
  height: var(--wx-checkbox-size);
  border: var(--wx-checkbox-border-width) solid var(--wx-checkbox-border-color);
  border-radius: var(--wx-checkbox-border-radius);
  background: var(--wx-input-background);
}
.wx-before.wx-2IvefP:after {
  content: '';
  position: absolute;
  display: none;
  left: 50%;
  top: 50%;
  width: calc(var(--wx-checkbox-size) * 0.56);
  height: calc(var(--wx-checkbox-size) * 0.32);
  border-style: solid;
  border-color: var(--wx-color-primary-font);
  border-width: 0 0 calc(var(--wx-checkbox-size) * 0.12)
    calc(var(--wx-checkbox-size) * 0.12);
  transform: rotate(-45deg);
  margin-left: calc(var(--wx-checkbox-size) * -0.26);
  margin-top: calc(var(--wx-checkbox-size) * -0.24);
}
.wx-check.wx-2IvefP:checked ~ .wx-label.wx-2IvefP .wx-before.wx-2IvefP:before {
  background: var(--wx-color-primary);
  border-color: transparent;
}
.wx-check.wx-2IvefP:checked ~ .wx-label.wx-2IvefP .wx-before.wx-2IvefP:after {
  display: block;
}
.wx-check.wx-2IvefP[disabled] ~ .wx-label.wx-2IvefP {
  color: var(--wx-checkbox-border-color-disabled);
  cursor: not-allowed;
}
.wx-check.wx-2IvefP[disabled]:not(:checked)
  ~ .wx-label.wx-2IvefP
  .wx-before.wx-2IvefP:before {
  border-color: var(--wx-checkbox-border-color-disabled);
}
.wx-check.wx-2IvefP[disabled]:checked
  ~ .wx-label.wx-2IvefP
  .wx-before.wx-2IvefP:before {
  background: var(--wx-checkbox-border-color-disabled);
}
.wx-check.wx-2IvefP[disabled] ~ .wx-label.wx-2IvefP .wx-before.wx-2IvefP:after {
  border-color: var(--wx-input-background);
}
