.wx-colorselect.wx-121TgJ {
  position: relative;
  width: var(--wx-input-width);
}

.wx-selected.wx-121TgJ {
  position: absolute;
  left: var(--wx-input-icon-indent);
  top: 50%;
  transform: translateY(-50%);
}

.wx-colors.wx-121TgJ {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 8px;
}

.wx-color.wx-121TgJ {
  width: var(--wx-input-icon-size);
  height: var(--wx-input-icon-size);
  border-radius: var(--wx-input-border-radius);
  cursor: pointer;
}

.wx-input.wx-121TgJ {
  display: block;
  width: 100%;
  height: var(--wx-input-height);
  outline: none;
  background: var(--wx-input-background);
  border: var(--wx-input-border);
  border-radius: var(--wx-input-border-radius);
  font-family: var(--wx-input-font-family);
  font-size: var(--wx-input-font-size);
  line-height: var(--wx-input-line-height);
  font-weight: var(--wx-input-font-weight);
  text-align: var(--wx-input-text-align);
  color: var(--wx-input-font-color);
  padding: var(--wx-input-padding);
  padding-right: calc(
    var(--wx-input-icon-size) + var(--wx-input-icon-indent) * 2
  );
  padding-left: calc(
    var(--wx-input-icon-size) + var(--wx-input-icon-indent) * 2
  );
  overflow: hidden;
  text-overflow: ellipsis;
}
.wx-input.wx-121TgJ.wx-focus {
  border: var(--wx-input-border-focus);
}
.wx-input.wx-121TgJ::placeholder {
  color: var(--wx-input-placeholder-color);
}
.wx-input.wx-121TgJ[disabled] {
  cursor: not-allowed;
  border: var(--wx-input-border-disabled);
  color: var(--wx-color-font-disabled);
  background: var(--wx-input-background-disabled);
}
.wx-input.wx-121TgJ[disabled]::placeholder {
  color: var(--wx-color-font-disabled);
}
.wx-input.wx-121TgJ[disabled] ~ .wx-color,
.wx-input.wx-121TgJ[disabled] ~ .wx-empty {
  cursor: not-allowed;
}
.wx-input.wx-121TgJ.wx-error {
  border-color: var(--wx-color-danger);
  color: var(--wx-color-danger);
}

.wx-empty.wx-121TgJ {
  width: var(--wx-input-icon-size);
  height: var(--wx-input-icon-size);
  border: var(--wx-input-border);
  border-radius: var(--wx-input-border-radius);
  background: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) calc(50% - 1px),
    rgb(255, 0, 0) 50%,
    rgba(0, 0, 0, 0) calc(50% + 1px),
    rgba(0, 0, 0, 0) 100%
  );
  cursor: pointer;
  user-select: none;
}

.wxi-close.wx-121TgJ {
  position: absolute;
  right: var(--wx-input-icon-indent);
  top: 50%;
  transform: translateY(-50%);
  font-size: var(--wx-input-icon-size);
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--wx-input-icon-size);
  height: var(--wx-input-icon-size);
  border-radius: var(--wx-input-border-radius);
  color: var(--wx-input-icon-color);
  cursor: pointer;
}
.wxi-close.wx-121TgJ:hover {
  background: var(--wx-background-hover);
  border-radius: var(--wx-icon-border-radius);
}
