.wx-field.wx-2oVUvC {
  width: var(--wx-field-width);
  max-width: 100%;
  margin-bottom: var(--wx-field-gutter);
}
.wx-field.wx-left.wx-2oVUvC {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
}
.wx-field.wx-left.wx-2oVUvC > .wx-label.wx-2oVUvC {
  width: var(--wx-label-width);
  flex-shrink: 0;
  margin: 0 var(--wx-field-gutter) 0 0;
  padding-top: calc((var(--wx-input-height) - var(--wx-label-line-height)) / 2);
  text-align: right;
}
.wx-field.wx-left.wx-2oVUvC > .wx-field-control.wx-2oVUvC {
  max-width: calc(100% - var(--wx-label-width) - var(--wx-field-gutter));
}
.wx-field.wx-error.wx-2oVUvC .wx-label.wx-2oVUvC {
  color: var(--wx-color-danger);
}

.wx-field.wx-left.wx-2oVUvC .wx-field-control.wx-checkbox.wx-2oVUvC {
  padding-top: calc((var(--wx-input-height) - var(--wx-checkbox-height)) / 2);
  padding-bottom: calc(
    (var(--wx-input-height) - var(--wx-checkbox-height)) / 2
  );
}
.wx-field.wx-left.wx-2oVUvC .wx-field-control.wx-slider.wx-2oVUvC {
  padding-top: calc((var(--wx-input-height) - var(--wx-slider-height)) / 2);
  padding-bottom: calc((var(--wx-input-height) - var(--wx-slider-height)) / 2);
}
.wx-field.wx-left.wx-2oVUvC .wx-field-control.wx-switch.wx-2oVUvC {
  padding-top: calc((var(--wx-input-height) - var(--wx-switch-height)) / 2);
  padding-bottom: calc((var(--wx-input-height) - var(--wx-switch-height)) / 2);
}

.wx-label.wx-2oVUvC {
  display: block;
  margin: var(--wx-label-margin);
  padding: var(--wx-label-padding);
  font-family: var(--wx-label-font-family);
  font-size: var(--wx-label-font-size);
  line-height: var(--wx-label-line-height);
  font-weight: var(--wx-label-font-weight);
  color: var(--wx-label-font-color);
}

.wx-required.wx-2oVUvC .wx-label.wx-2oVUvC::after {
  content: ' *';
  color: var(--wx-color-danger);
}

.wx-field-control.wx-2oVUvC {
  position: relative;
  width: 100%;
}
