.wx-icon.wx-mdnST1 {
  color: var(--wx-color-font-alt);
  cursor: pointer;
  font-size: var(--wx-button-icon-size);
  padding: var(--wx-button-icon-indent);

  line-height: var(--wx-button-line-height);
  display: inline-block;
}
.wx-icon.wx-mdnST1:hover {
  background-color: var(--wx-background-hover);
}
