.wx-modal.wx-1FxkZa {
  position: fixed;
  z-index: var(--wx-modal-z-index);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: var(--wx-modal-backdrop);
  text-align: center;
}

.wx-window.wx-1FxkZa {
  background: var(--wx-modal-background);
  box-shadow: var(--wx-modal-shadow);
  border: var(--wx-modal-border);
  border-radius: var(--wx-modal-border-radius);
  padding: var(--wx-modal-padding);
  min-width: var(--wx-modal-width);
}

.wx-header.wx-1FxkZa {
  font-family: var(--wx-modal-header-font-family);
  font-size: var(--wx-modal-header-font-size);
  line-height: var(--wx-modal-header-line-height);
  font-weight: var(--wx-modal-header-font-weight);
  color: var(--wx-modal-header-font-color);
  margin-bottom: var(--wx-modal-gutter);
}

.wx-buttons.wx-1FxkZa {
  margin-top: var(--wx-modal-gutter);
  display: flex;
  justify-content: center;
  margin-left: calc(var(--wx-modal-gutter) / -2);
  margin-right: calc(var(--wx-modal-gutter) / -2);
}

.wx-button.wx-1FxkZa {
  flex: 1;
  max-width: 50%;
  padding: 0 calc(var(--wx-modal-gutter) / 2);
}
