.wx-segmented.wx-0hMO7P {
  display: inline-flex;
  flex-wrap: nowrap;
  background: var(--wx-segmented-background);
  border: var(--wx-segmented-border);
  border-radius: var(--wx-segmented-border-radius);
  padding: var(--wx-segmented-padding);
  max-width: 100%;
}

.wx-segment.wx-0hMO7P {
  display: flex;
  text-decoration: none;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
  letter-spacing: normal;
  text-transform: var(--wx-button-text-transform);
  font-family: var(--wx-button-font-family);
  font-size: var(--wx-button-font-size);
  line-height: var(--wx-button-line-height);
  font-weight: var(--wx-button-font-weight);
  padding: var(--wx-button-padding);
  border: var(--wx-button-border);
  border-radius: var(--wx-segmented-border-radius);
  background: transparent;
  color: var(--wx-button-font-color);
  cursor: pointer;
  box-shadow: none;
  transition: none;
  max-width: 100%;
  user-select: none;
}

.wx-segment.wx-0hMO7P,
.wx-segment.wx-0hMO7P:focus,
.wx-segment.wx-0hMO7P:active {
  outline: none;
}

.wx-segment.wx-0hMO7P + .wx-segment.wx-0hMO7P {
  margin-left: var(--wx-segmented-padding);
}

.wx-segment.wx-0hMO7P:hover {
  background: var(--wx-segmented-background-hover);
}

.wx-segment.wx-selected.wx-0hMO7P,
.wx-segment.wx-selected.wx-0hMO7P:hover,
.wx-segment.wx-selected.wx-0hMO7P:focus {
  background: var(--wx-color-primary);
  color: var(--wx-color-primary-font);
  cursor: default;
}

.wx-icon.wx-0hMO7P {
  position: relative;
  font-size: var(--wx-button-icon-size);
  line-height: 1;
  height: var(--wx-button-line-height);
  opacity: 0.7;
}
.wx-icon.wx-0hMO7P:before {
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.wx-icon.wx-only.wx-0hMO7P {
  opacity: 1;
}

.wx-icon.wx-0hMO7P + .wx-label.wx-0hMO7P {
  margin-left: 4px;
}
