.wx-slider.wx-2EDJ8G {
  width: var(--wx-input-width);
}

.wx-label.wx-2EDJ8G {
  display: block;
  margin: var(--wx-slider-label-margin);
  font-family: var(--wx-slider-label-font-family);
  font-size: var(--wx-slider-label-font-size);
  line-height: var(--wx-slider-label-line-height);
  font-weight: var(--wx-slider-label-font-weight);
  color: var(--wx-slider-label-font-color);
}

.wx-inner.wx-2EDJ8G {
  padding: calc((var(--wx-slider-height) - var(--wx-slider-track-height)) / 2) 0;
}

.wx-input.wx-2EDJ8G {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  height: var(--wx-slider-track-height);
  background: var(--wx-slider-background);
  border: none;
  border-radius: var(--wx-slider-track-border-radius);
  margin: 0;
}

.wx-input.wx-2EDJ8G:focus {
  outline: none;
}

.wx-input.wx-2EDJ8G::-webkit-slider-runnable-track {
  margin: 0;
  width: 100%;
  height: var(--wx-slider-track-height);
  border: none;
  border-radius: var(--wx-slider-track-border-radius);
  cursor: pointer;
  background: transparent;
}

.wx-input.wx-2EDJ8G::-webkit-slider-thumb {
  margin-top: calc(
    (var(--wx-slider-track-height) - var(--wx-slider-thumb-size)) / 2
  );
  width: var(--wx-slider-thumb-size);
  height: var(--wx-slider-thumb-size);
  background: var(--wx-slider-primary);
  border: var(--wx-slider-thumb-border);
  box-shadow: var(--wx-slider-thumb-shadow);
  border-radius: 50%;
  cursor: pointer;
  appearance: none;
}

.wx-input.wx-2EDJ8G::-moz-range-track {
  margin: 0;
  width: 100%;
  height: var(--wx-slider-track-height);
  border: none;
  border-radius: var(--wx-slider-track-border-radius);
  cursor: pointer;
  background: transparent;
}

.wx-input.wx-2EDJ8G::-moz-range-thumb {
  margin-top: calc(
    (var(--wx-slider-track-height) - var(--wx-slider-thumb-size)) / 2
  );
  width: var(--wx-slider-thumb-size);
  height: var(--wx-slider-thumb-size);
  background: var(--wx-slider-primary);
  border: var(--wx-slider-thumb-border);
  border-radius: 50%;
  cursor: pointer;
  appearance: none;
}

.wx-input.wx-2EDJ8G::-moz-range-progress {
  background-color: var(--wx-slider-primary);
  height: var(--wx-slider-track-height);
  border-top-left-radius: var(--wx-slider-track-border-radius);
  border-bottom-left-radius: var(--wx-slider-track-border-radius);
}

.wx-input.wx-2EDJ8G::-ms-track {
  color: transparent;
  margin: 0;
  width: 100%;
  height: var(--wx-slider-track-height);
  border: none;
  border-radius: var(--wx-slider-track-border-radius);
  cursor: pointer;
  background: transparent;
}

.wx-input.wx-2EDJ8G::-ms-fill-lower {
  background: var(--wx-slider-primary);
  border: 0.2px solid var(--wx-slider-primary);
  border-radius: var(--wx-slider-track-border-radius);
}

.wx-input.wx-2EDJ8G::-ms-fill-upper {
  background: var(--wx-slider-background);
  border: 0.2px solid var(--wx-slider-background);
  border-radius: var(--wx-slider-track-border-radius);
}

.wx-input.wx-2EDJ8G::-ms-thumb {
  margin-top: calc(
    (var(--wx-slider-track-height) - var(--wx-slider-thumb-size)) / 2
  );
  width: var(--wx-slider-thumb-size);
  height: var(--wx-slider-thumb-size);
  background: var(--wx-slider-primary);
  border: var(--wx-slider-thumb-border);
  border-radius: 50%;
  cursor: pointer;
  appearance: none;
}

.wx-input.wx-2EDJ8G:focus::-ms-fill-lower {
  background: var(--wx-slider-primary);
}

.wx-input.wx-2EDJ8G:focus::-ms-fill-upper {
  background: var(--wx-slider-background);
}

.wx-input.wx-2EDJ8G[disabled] {
  cursor: not-allowed;
  background: var(--wx-color-disabled);
}
.wx-input.wx-2EDJ8G[disabled]::-webkit-slider-runnable-track {
  cursor: not-allowed;
}
.wx-input.wx-2EDJ8G[disabled]::-webkit-slider-thumb {
  cursor: not-allowed;
  background: var(--wx-background);
  border: var(--wx-slider-thumb-border-disabled);
}
.wx-input.wx-2EDJ8G[disabled]::-moz-range-track {
  cursor: not-allowed;
}
.wx-input.wx-2EDJ8G[disabled]::-moz-range-thumb {
  cursor: not-allowed;
  background: var(--wx-background);
  border: var(--wx-slider-thumb-border-disabled);
}
.wx-input.wx-2EDJ8G[disabled]::-moz-range-progress {
  cursor: not-allowed;
  background: var(--wx-color-disabled);
}
.wx-input.wx-2EDJ8G[disabled]::-ms-track {
  cursor: not-allowed;
}
.wx-input.wx-2EDJ8G[disabled]::-ms-fill-lower {
  background: var(--wx-color-disabled);
  border-color: var(--wx-color-disabled);
}
.wx-input.wx-2EDJ8G[disabled]::-ms-fill-upper {
  background: var(--wx-color-disabled);
  border-color: var(--wx-color-disabled);
}
.wx-input.wx-2EDJ8G[disabled]::-ms-thumb {
  cursor: not-allowed;
  background: var(--wx-background);
  border: var(--wx-slider-thumb-border-disabled);
}
.wx-input.wx-2EDJ8G[disabled]:focus::-ms-fill-lower {
  background: var(--wx-color-disabled);
}
.wx-input.wx-2EDJ8G[disabled]:focus::-ms-fill-upper {
  background: var(--wx-color-disabled);
}
